
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
  
      <h1 class="logo"><a href="index.html">RentBay<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->
  
      <nav  id="navbar" class="navbar">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
          <span><i class="fa fa-list mobile-nav-toggle"></i></span>
      </button>
        <ul>
          <li><a class="nav-link scrollto active"routerLink="/homeadmin">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" routerLink="/team">Team</a></li>
          <li><a class="nav-link scrollto" routerLink="/users">Users</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
       
      </nav><!-- .navbar -->
  
    </div>
  </header><!-- End Header -->
  